@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

body {
  @apply md:hidden lg:hidden
}

#materi p {
  @apply text-xs;
}

:root {
  --tinggiListMateri: calc(100vh - 2.3rem);
  --tinggiContentSm: calc(100vh - 2.3rem);
  --tinggiContentMd: calc(100vh - 3.4rem);
  --contentListSm: calc(2.1rem - 80%);
  --contentListMd: calc(2.1rem - 60%);
  --contentListLg: calc(2.1rem - 30%);
}

/**************** Element Umum *****************/

.layout {
  @apply container px-6 mx-auto md:px-12;
}

.buttonElemen {
  @apply px-3 py-2 bg-amber-500 rounded-lg text-[#eee] border-[1px] shadow-sm border-transparent transition-all duration-300 text-[0.8rem] md:text-[1rem] mt-4 cursor-pointer;
}

.buttonElemen:hover {
  @apply text-amber-500 bg-transparent border-amber-500;
}

.buttonYesConfirmation {
  @apply px-3 py-2 bg-red-600 rounded-lg text-[#eee] border-[1px] shadow-sm border-transparent transition-all duration-300 text-[0.8rem] md:text-[1rem] mt-4 cursor-pointer;
}
.buttonNoConfirmation {
  @apply px-3 py-2 bg-green-600 rounded-lg text-[#eee] border-[1px] shadow-sm border-transparent transition-all duration-300 text-[0.8rem] md:text-[1rem] mt-4 cursor-pointer;
}

.buttonYesConfirmation:hover {
  @apply text-red-600 bg-transparent border-red-600;
}
.buttonNoConfirmation:hover {
  @apply text-green-600 bg-transparent border-green-600;
}

/* Table start */
th, td {
  @apply border border-slate-500 p-2 text-[0.5rem] text-center
}

/* Table End */

/* Typografi Start*/
.materi h1 {
  @apply font-semibold text-center text-white;
}
.materi h2 {
  @apply font-semibold text-sm text-secondary mt-4 mb-3;
}
.materi p {
  @apply text-xs text-justify leading-[1.2rem] pb-2;
}

.materi figcaption {
  @apply text-[0.6rem] text-center pt-2 pb-3;
}

.materi article {
  @apply pb-3;
}

.materi li {
  @apply text-xs leading-[1.2rem];
}

.materi ul {
  @apply px-6 my-3;
}

.rangkuman {
  @apply w-full h-fit bg-amber-300 p-3 relative;
}
/* Typografi End*/


/* Next Button */

.nextButton {
  @apply px-4;
}
.nextButton:hover p {
  @apply text-amber-400 cursor-pointer;
}

.nextButton:hover i {
  @apply text-amber-400 cursor-pointer;
}

/* Navbar list start */
.navbar {
  @apply flex justify-between items-center py-2 z-[50] text-[#eee] md:py-[1.2rem];
}

.nav-list.initial-style {
  transform: rotate(-180deg);
  transition: none; 
}

.nav-list {
  @apply absolute w-44 h-fit rounded-l-xl top-full  bg-third right-[0] transition-all duration-500 p-6 flex rotate-[-180deg] origin-top-right z-[99] lg:static lg:p-0 lg:rotate-0 lg:block lg:h-full lg:w-fit lg:bg-transparent;
}

.nav-list ul li a {
  transition: 0.3s;
  @apply cursor-pointer;
}

.nav-list ul li:hover .opacity-100 {
  @apply text-transparent bg-gradient-to-r from-amber-500 to-amber-200 bg-clip-text scale-[1.02];
}

.nav-list ul li.active a {
  @apply text-transparent bg-gradient-to-r from-amber-500 to-amber-200 bg-clip-text;
}

.menuToggle {
  position: relative;
  width: 30px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.menuToggle::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  transform: translateY(-10px);
  transition: 0.5s;
  box-shadow: 0 10px #eee;
  background-color: #eee;
}

.menuToggle::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  transform: translateY(10px);
  transition: 0.5s;
  background-color: #eee;
}

.navbar.active .menuToggle::before {
  transform: translateY(0px) rotate(45deg);
  box-shadow: 0 0px #222;
}

.navbar.active .menuToggle::after {
  transform: translateY(0px) rotate(-45deg);
}

.navbar.active .nav-list {
  @apply right-[0] rotate-0 transition-all duration-500;
}
/* Navbar list end */

/* Content list  start*/
.contentList {
  @apply w-[80%] flex absolute top-full transition-all duration-500 text-[#eee] left-[--contentListSm] md:w-[60%] md:left-[--contentListMd] lg:w-[30%] lg:left-[--contentListLg];
}

.contentList.active {
  @apply left-0;
}

.listClass {
  @apply shadow-md hover:scale-[1.025] transition-all duration-300 my-4 w-[95%];
}

.textClass {
  @apply text-sm md:text-[1rem];
}

.iconClass {
  @apply text-amber-500 text-[1.2rem];
}

.classBtnDropdown {
  @apply py-4 px-4 flex justify-between items-center w-full md:px-12;
}

.chapterBtnDropdown {
  @apply px-8 py-2 bg-forth w-full md:px-16;
}

.subChapterContent {
  @apply flex flex-col;
}

.subChapterContent::before {
  content: "";
  position: absolute;
  width: 1px;
  background-color: rgb(245, 158, 11);
  @apply top-[8px] bottom-[8px] left-[3rem] md:left-[4.5rem];
}

.contentListCircle {
  @apply w-4 h-4 bg-amber-500 shrink-0 rounded-full -translate-x-1/2 transition-all duration-300;
}

.dropdown li a {
  @apply text-[0.7rem] cursor-pointer transition-all duration-300 md:text-[1rem];
}

.dropdown li:hover .dropdown-button a {
  @apply text-amber-500;
}

.subChapterContent li p {
  @apply transition-all duration-300;
}

.subChapterContent li {
  @apply h-full w-full px-12 py-2 md:px-[4.5rem];
}
.subChapterContent li:hover {
  @apply bg-primary/80;
}

.subChapterContent li:hover p {
  @apply text-amber-500;
}

.subChapterContent li:hover .contentListCircle {
  @apply bg-[#eee];
}

/* Content list end */

/* Radio Button Start*/
.radioButtonStyle input {
  appearance: none;

  @apply rounded-full w-4 h-4 border-[2px] border-third transition-all duration-200 relative;
}

input:checked {
  @apply border-[5px] border-third;
}
/* Radio Button End */

/* PopUp */
.popUpCnt {
  @apply h-52 w-56 rounded-2xl p-3 flex flex-col items-center justify-center text-center gap-4 bg-gray-100 transition-all duration-200 relative;
}
/* Loading */
.loading {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 9px solid #474bff;
  animation: spinner-bulqg1 0.8s infinite linear alternate, spinner-oaa3wk 1.6s infinite linear;
}

@keyframes spinner-bulqg1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }

  12.5% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%);
  }

  25% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%);
  }

  50% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
  }

  62.5% {
    clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
  }

  75% {
    clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%);
  }

  100% {
    clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%);
  }
}

@keyframes spinner-oaa3wk {
  0% {
    transform: scaleY(1) rotate(0deg);
  }

  49.99% {
    transform: scaleY(1) rotate(135deg);
  }

  50% {
    transform: scaleY(-1) rotate(0deg);
  }

  100% {
    transform: scaleY(-1) rotate(-135deg);
  }
}

/* Footer Start */
footer > div h4 {
  @apply mb-[1.2rem] text-[1rem] font-semibold  text-transparent bg-gradient-to-r from-amber-500 to-amber-200 bg-clip-text;
}

.footer-1 p {
  @apply mb-8;
}

footer ul li {
  @apply mb-[0.7rem];
}

footer ul li a:hover {
  @apply underline;
}
footer ul li i {
  @apply transition-all duration-300;
}
footer ul li i:hover {
  @apply text-amber-400;
}

.footer-1,
.footer-2,
.footer-3 {
  @apply flex flex-col items-center mt-6 text-center;
}

/**************** Element Umum End *****************/

/**************** BERANDA START *****************/

/* Hero Strat */

.hero {
  @apply pt-[5rem];
}
.beranda h2 {
  @apply text-center font-semibold text-transparent bg-gradient-to-r from-amber-500 to-amber-200 bg-clip-text text-[1.6rem] relative;
}
.hero-title {
  @apply bg-gradient-to-r from-amber-500 to-amber-200 bg-clip-text text-transparent font-bold text-[2.5rem] tracking-wider md:text-[3rem];
}

.hero-img {
  @apply h-[20rem] w-[22rem] rounded-full bg-gradient-to-b from-third self-end md:h-[35rem] md:w-[35rem] lg:h-[28rem] lg:w-[28rem] relative;
}

.hero-desc {
  @apply flex flex-col gap-4 justify-center h-full md:w-[80%] md:justify-end lg:w-[100%] lg:justify-center;
}

.hero-paragraf {
  @apply leading-6 text-[0.8remrem] tracking-wider text-[#eee] md:text-[1.4rem] md:leading-10;
}
/* Hero End */

/* Hero Description */

.fitur {
  @apply w-[80%] lg:w-full mx-auto p-8 rounded-[2rem] transition-all duration-[400ms] bg-gradient-to-r from-forth from-50% hover:scale-105;
}

.fitur-icon {
  @apply bg-primary p-[0.7rem] rounded-[0.9rem];
}

.fitur:nth-child(2) .fitur-icon {
  @apply bg-danger;
}
.fitur:nth-child(3) .fitur-icon {
  @apply bg-success;
}
.fitur:nth-child(4) .fitur-icon {
  @apply bg-warning;
}
.fitur:nth-child(5) .fitur-icon {
  @apply bg-success;
}
.fitur:nth-child(6) .fitur-icon {
  @apply bg-primary;
}

.fitur h5 {
  @apply mt-3 mb-2;
}

/* Hero Kontributor Slider*/
.kontributor {
  @apply pt-8;
}

.avatar {
  @apply w-24 h-24 rounded-full overflow-hidden mb-4 mx-auto border-[0.5rem] border-forth group-hover:scale-125 transition-all duration-300;
}

.kontributor-info {
  @apply text-center;
}

.kontributor-body {
  @apply bg-primary p-8 mt-12 before:content-[""] before:block before:bg-gradient-to-tl before:from-50% before:from-primary before:w-12 before:h-12 before:absolute before:left-1/2 before:-top-6 relative before:rotate-45  before:-translate-x-1/2;
}
/**************** BERANDA End *****************/

/**************** Materi *****************/

/* Argumentasi start */

.highlight {
  @apply font-semibold italic;
}
/* Argumentasi end */

/* Zoom Image */

.zoomImageCnt {
  @apply bottom-0 top-0 w-full bg-black/90 flex justify-center items-center fixed transition-all duration-200 z-[10000]
}

.zoomImage {
  @apply w-full
} 

/* Pilihan Ganda Start*/

.PG {
  @apply w-full shadow-md border-transparent border-2 transition-all duration-300 mx-auto text-[0.75rem] text-justify;
  box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.39);
  -webkit-box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.39);
  perspective: 1000px;
}

.PG-Lg {
  @apply h-[85vh];
}

.question img {
  @apply h-[120px] mx-auto mb-4;
}

.PGInstruction {
  @apply font-bold mb-[3px];
}

.PG .question-cnt {
  @apply w-full h-full transition-all duration-500 p-3;
}

.PG .question-cnt {
  @apply relative z-[1] flex flex-col;
}


.question {
  @apply mb-[10px] h-auto transition-all duration-500;
}

.optionCnt {
  @apply h-fit flex flex-col justify-between border-t-[1px] border-black/30 pt-2;
}

.options {
  @apply flex flex-col gap-2;
}

.option {
  @apply flex gap-2;
}

.option input {
  @apply self-start mt-[2px];
}

.optionItem {
  @apply flex gap-2;
}

.answer h3 {
  @apply font-bold;
}

.PGButtonCnt {
  @apply h-fit flex gap-4;
}


.PGButton {
  @apply bg-amber-400 border-[1px] border-transparent transition-all duration-300 cursor-pointer px-[8px] py-[4px] text-white rounded-md mt-2;
}

.PGButton:hover {
  @apply bg-transparent border-amber-400 text-amber-400;
}

.overflow {
  @apply py-[20px] overflow-auto h-full;
}
/* Pilihan ganda End */

/*Diskusi Start*/
.soalDiskusi {
  @apply h-[500px] w-full  flex flex-col my-8;
}

textarea {
  @apply text-xs
}

.imageSoalDiskusi {
  @apply h-[200px]  mx-auto py-2 overflow-hidden;
}

.imageSoalDiskusi img {
  @apply h-[180px];
}

.textSoalDiskusi {
  @apply h-[300px] p-2 overflow-y-auto ;
}

.textSoalDiskusi p {
  @apply text-justify;
}

.diskusi {
  @apply flex flex-col h-[500px] bg-primary/30 p-4 rounded-lg border-third border-[1px];
}

.diskusiCharacter {
  @apply h-[60%] w-full flex flex-col;
}

.diskusiBanner {
  @apply h-[40px] py-2 px-2 bg-amber-500 text-sm text-white rounded-tl-lg rounded-br-lg;
}

.character {
  @apply flex gap-4 h-[460px]  pt-2;
}

.imageCharacter {
  @apply flex w-[40%];
}

.imageCharacter img {
  @apply h-[200px] self-end;
}

.bubbleChatCharacter {
  @apply relative h-[200px] w-[60%] rounded-lg bg-white border-[1px] border-black;
}

.textBubbleChatCharacter {
  @apply relative pl-3 pr-2 py-2 text-left;
}

.bubbleChatSpan {
  @apply h-[15px] w-[15px] bg-white absolute top-[50%] -rotate-45 -translate-x-1/2 -translate-y-1/2 border-t-[1px] border-l-[1px] border-black;
}

.textAreaDikusiCnt {
  @apply h-[40%] w-full p-2;
}

.textAreaDikusi {
  @apply h-[120px];
}

.textAreaDikusi textarea {
  @apply w-full border-2 border-third p-2;
}

/* Refleksi */
.iconRefleksiSize {
  @apply text-3xl;
}
